{
    "signal": {
        "phone": "+316xxxxxxxxxx",
        "gid": "XXXXXXXXXXXXXXXXXXXXX==",
        "cli": "/home/hermod/bin/signal-cli",
        "file": "/home/hermod/log/signal.log",
        "infile": "/home/hermod/log/tosignal.log",
        "db": "/home/hermod/var/signal.db",
        "debug": "/home/hermod/log/signal.debug",
        "anon": "Anonymous",
        "attachment_path": "/var/www/html/signal",
        "url": "https://hermod.example.com/signal"
    },
    "telegram": {
        "token":  "999999999:xxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxx",
        "chat_id": "-19999999",
        "file": "/home/hermod/log/telegram.log",
        "debug": "/home/hermod/log/telegram.debug",
        "attachments": "/var/www/html/telegram",
        "url": "https://hermod.example.com/telegram"
    },
    "irc": {
        "ircnode": "irc.freenode.net",
        "channel": "#channel",
        "port"   : 6697,
        "UseSSL" : 1,
        "nick"   : "gateway",
        "password": "xxxxxxxx",
    }
}

