# copy this file to auth.cfg and fill in token and chat_id of the bot and telegram group
# irc nick and channel
{
  token   => 'XXXXXXXXX:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  chat_id => '-nnnnnnnnn',
  group   => '#groupname',

  ircnode => 'irc.freenode.net',
  channel => '#channel',
  port    => 6667,
  UseSSL  => 0,
  nick    => 'nick',
  socket  => '/tmp/hermod.sock',
}
